/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 70vw;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* top players styles */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 50px;
    height: 50px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* top blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    grid-column-gap: 79px;
}
.blog .thambnail img{
    width: 100%;
    
}
.blog{
    display: flex;
    
}

.blog-info{
    margin-left: 16px;
    width: 100%;
}
.blog-title{
    font-size: 20px;
}
.author{
    color: #9F9F9F;
    font-size: 16px;
}
.author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    width: 100%;
}
.course .course-banner img{
    width: 100%;
}
.course-title{
    font-size: 21px;
    color: #1E1E1E;
}
.course-author{
    font-size: 15px;
    color: #ED6B4F;
}
.course-info{
    display: flex;
    align-items: center;
    
}
.course-duration{
    display: flex;
    align-items: center;
    background-color: #f8cdcd;
    color: #FF4A60;
    border-radius: 10px;
    margin-left: 11px;

}
.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:  #AEAEAE;
    margin-right: 11px;
}
.fa-clock{
    
}

/* Media Query */

/* Mobile device */
@media only screen and (max-width:668px) {
    .container{
        width: 100%;
        height: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog, .course{
        flex-direction: column;
    }
    .course{
        margin-bottom: 10%;
    }
}

/* tablet device */

@media only  screen and (min-width:689px) and (max-width:992px) {
    .container{
        width: 90%;
        height: 100vh;
        
        
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
        
    }
}